<html>
  <head></head>
  <body>
    <fragment src="http://localhost:8081"></fragment>
    <library dependency="header"></library>
    <library dependency="recommendations"></library>
  </body>
</html>
